@media screen and (max-width: 1300px) {
	.container {
		max-width: 960px;
	}

	.main {
		margin-top: -60px;
	}

	.header_txt {
		font-size: 15px;
		font-weight: 400;
		line-height: 18px;
	}

	.menu {

		display: inline-flex;
		padding-left: 30px;
		align-items: center;
		gap: 30px;
	}

	.main_right {
		padding-left: 20px;
	}

	.sect_tit {
		padding-top: 172px;
		font-size: 46px;
		line-height: 46px;
	}

	.sec_txt {
		font-size: 15px;
	}

	.wcard {
		margin-bottom: 50px;
		gap: 15px;
	}

	.sec_tit {
		font-size: 50px;
		line-height: 60px;
	}

	.intro_r {
		padding-left: 0;
	}

	.advan_r {
		width: 100%;
	}

	.advan_l {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 25px;
		text-align:start;
		padding-left: 80px;
	}

	.feed_txt1 {
		max-width: 410px;
		font-size: 15px;
		line-height: 20px;
	}

	.do_l {
		width: 100%;
	}

	.do_r {
		width: 100%;
	}

	.sec_tit2 {
		font-size: 54px;
		line-height: 60px;
		margin-bottom: 10px;
		text-align: center;
	}

	.menu__box li:nth-child(4) {
		padding-left: 100px;
	}
}

@media screen and (max-width: 990px) {
	.container {
		max-width: 750px;
	}

	.mood_top {
		width: 100%;
	}

	.mood_bottom {
		width: 100%;
	}

	.advan_tit2,
	.advan_tit,
	.advan_txt {
		text-align: start;
	}


}

@media screen and (max-width: 990px) {
	.container {
		width: 720px;
	}

	.main {
		margin: 0;
	}

	#menu__toggle {
		opacity: 0;
	}

	#menu__toggle:checked~.menu__btn>span {
		transform: rotate(45deg);
	}

	#menu__toggle:checked~.menu__btn>span::before {
		top: 0;
		transform: rotate(0);
	}

	#menu__toggle:checked~.menu__btn>span::after {
		top: 0;
		transform: rotate(90deg);
	}

	#menu__toggle:checked~.menu__box {
		visibility: visible;
		left: 0;
	}

	.menu__btn {
		display: flex;
		align-items: center;
		position: fixed;
		top: 20px;
		left: 20px;

		width: 26px;
		height: 26px;

		cursor: pointer;
		z-index: 1;
		margin-top: -5px;
	}

	.menu__btn>span,
	.menu__btn>span::before,
	.menu__btn>span::after {
		display: block;
		position: absolute;

		width: 100%;
		height: 2px;

		background-color: #060606;

		transition-duration: .25s;
	}

	.menu__btn>span::before {
		content: '';
		top: -8px;
	}

	.menu__btn>span::after {
		content: '';
		top: 8px;
	}

	.menu__box {
		display: block;
		position: fixed;
		visibility: hidden;
		top: 0;
		left: -100%;

		width: 200px;
		height: 100%;

		margin: 0;
		padding: 80px 0;

		list-style: none;

		background-color: none;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

		transition-duration: .25s;
	}

	.menu__item {
		display: block;
		padding: 12px 24px;

		color: #333;

		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 600;

		text-decoration: none;

		transition-duration: .25s;
	}

	.menu__item:hover {
		background-color: #CFD8DC;
	}

	.menu__box li:nth-child(4) {
		padding-left: 0;
	}

	.menu__box li a {
		color: black;
	}
	.do_in{
		flex-direction: column;
	}
	.do_r{
		width: 100%;
		margin-top: 0;
	}
	.do_l{
		width: 100%;

	}
	.sec_tit2 {
		font-size: 38px;
		margin-bottom: 30px;
		text-align: left;
	}
	footer .container {
		gap: 100px;
	}
	
	.footer_copies {
		display: inline-flex;
		align-items: flex-start;
		gap: 60px;
		margin-bottom: 55px;
	}
	
	.footer_copies li a {
		font-size: 14px;
	}
	
	.footer_copy:hover {
		color: #fff;
		font-size: 15px;
	}
	
	.footer_big {
		margin-top: 45px;
	}
	
	.footer_left {
		width: 30%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}
	
	.footer_nav1 {
		display: flex;
		padding: 4px 60px 1px 0px;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 21px;
		transition: 1s;
	}
	
	.footer_nav2 {
		display: flex;
		width: 218px;
		padding-bottom: 156px;
		flex-direction: column;
		align-items: flex-start;
		gap: 21px;
	}
	
	.footer_nav3 {
		display: flex;
		width: 224px;
		padding-bottom: 132px;
		flex-direction: column;
		align-items: flex-start;
		gap: 21px;
	}
	
	.footer_maintit {
		color: #FFF;
		font-family: "Libe Boroni";
		font-size: 42px;
		font-weight: 400;
		line-height: 72px;
		margin-bottom: 12px;
	}
	
	.footer_tit {
		font-size: 14px;
	}
	
	.input {
		width: 100%;
		height: 53px;
		display: inline-flex;
	}
	
	.email {
		color: #818181;
		text-align: start;
		font-family: "Roboto";
		font-size: 9px;
		font-weight: 400;
		line-height: 14px;
		letter-spacing: 0.12px;
		text-transform: uppercase;
	}
	
	.submit {
		color: #FFF;
		text-align: end;
		font-family: "Roboto";
		font-size: 10px;
		font-weight: 400;
		line-height: 14px;
		letter-spacing: 0.12px;
		max-width: 50px;
		transition: 1s;
		cursor: pointer;
	}	
	.line_little {
		width: 100%;
	}
	
	.footer_right {
		margin-left: 0;
	}	
}

@media screen and (max-width: 780px) {
	.container {
		max-width: 510px;
		/* Добавляем отступы по бокам для лучшего отображения на узких экранах */
	}
	.mood_in{
		width: 100%;
		margin-left: 0;
	}
	.btn_white{
		margin-left:150px;
	}
	.social_networks{
		margin-left: 0;
	}

	.main_in {
		flex-direction: column;
		
	}
	.main_right{
		width: 100%;
		margin-top: 0;
	}
	.main_left{
		width: 100%;

	}
	.introl_txt{
		font-size: 35px;
		text-align: left;
	}
	.feedback{
		margin-bottom: 0;
	}
	.feedbacks {
		flex-direction: column;
		margin: 0;	
	}
	.sec_tit{
		font-size: 35px;
	}
}

.mood_top {
	width: 100%;
}

.mood_bottom {
	width: 100%;
}

@media screen and (max-width: 540px) {
	.container {
		max-width: 420px;
	}

	/* Пример: скрываем некоторые элементы при маленьком размере экрана */
	.some-element {
		display: none;
	}
	.feed_txt1{
		max-width: 300px;
	}
	.btn_white{
		margin-left:75px;
	}
}
@media screen and (max-width: 450px) {
	.container {
		max-width: 100%;
	}
}