html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

ul li:last-child {
    margin-bottom: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

button,
label {
    cursor: pointer;
}

input,
button,
textarea {
    background: none;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input::placeholder {
    color: inherit;
}

button {
    cursor: pointer;
}

input,
textarea {
    display: block;
    resize: none;
}

.container {
    max-width: 1330px;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;

}

.dn {
    display: none;
}

section {
    padding: 100px 0;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header {
    background-color: 191919;
}

.header_txt {
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: 400;
    line-height: 18px;
    padding: 16px 70px 16px 70px;
}

.menu1 {
    display: inline-flex;
    padding-right: 226px;
    justify-content: start;
    align-items: flex-start;
    gap: 60px;
    flex-shrink: 0;
    margin-right: 0;
}

.menu2 {
    display: inline-flex;
    padding-left: 226px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 64px;
}

.menu1 a,
.menu2 a {
    color: #FFF;
    font-family: "Roboto";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 150% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.menu1 li:last-child a,
.menu2 li:last-child a {
    margin-right: 0;
}
.menu1 a:hover,
.menu2 a:hover {
    background: #DBDFD0;
}

.main_left {
    width: 50%;
    background: url(/img/main.webp) no-repeat;
    height: 800px;
}

.main_right {

    background-color: #996B60;
    height: 800px;
    padding-left: 60px;


}

.sec_tit {
    margin-top: 312px;
    color: #FFF;
    font-family: "Liberation Serif";
    font-size: 73px;
    font-weight: 400;
    line-height: 96px;
    max-width: 457px;
    margin-bottom: 34px;
}

.sec_txt {
    color: #FFF;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    max-width: 572px;
    margin-bottom: 35px;
}

.btn {
    width: 180px;
    height: 52px;
    border: 1px solid #FFF;
    border-radius: 0%;
    color: #000;
    text-align: center;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 18px 52px;

}

/*wine*/

.wine_cards {
    display: flex;
    height: 227px;
    padding: 4px 15px 0.406px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 36px;
    flex-shrink: 0;
}

.w_txt {
    color: #000;
    text-align: center;
    font-family:" Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}
